@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --bg-color: #bcf3f9;
    --green: #23f707;
    --red: #f74b07;
    --uname-col: #f76307;
    --black: #222;
    --white: #fff;
    --headcol: rgb(237, 252, 255);
    --light-black: #777;
    --light-white: #fff9;
    --orange: rgb(252, 162, 6);
    --light-teal: rgb(106, 250, 195);
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--light-black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    /* background-color: var(--orange); */
    background-color: rgb(89, 137, 143);
}

section {
    padding: 5rem 10%;
}


.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.btn {
    display: inline-block;
    background: var(--orange);
    border-radius: 6px;
    margin-top: 1rem;
    color: var(--bg-color);
    font-size: 1.6rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.login-btn {
    display: inline-block;
    background: var(--green);
    border-radius: 6px;
    color: var(--bg-color);
    font-size: 1.57rem !important;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.login-btn:hover {
	color:var(--white) !important;
}

.logout-btn{
    display: inline-block;
    background: var(--red);
    border-radius: 6px;
    color: var(--bg-color) !important;
    font-size: 1.57rem !important;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.logout-btn:hover {
	color:var(--white) !important;
}

.uname-btn{
    display: inline-block;
    border-radius: 6px;
    color: var(--bg-color);
    font-size: 1.57rem !important;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.uname-btn:hover {
	color:var(--orange) !important;
}

.heading-title {
    text-align: center;
    margin-bottom: 2.8rem;
    font-size: 6rem;
    /* text-transform: uppercase; */
    color: var(--black);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--headcol);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 2.2rem;
    color: var(--black);
}

.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


.home {
    padding: 0;
}

.home .slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}

.home .slide .content {
    width: 85rem;
    display: none;
}

.home .swiper-slide-active .content {
    display: inline-block;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}

.home .slide .content span {
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
    animation: fadeIn .2s linear backwards .2s;
}

.home .slide .content h3 {
    font-size: 6vw;
    color: var(--white);
    /* text-transform: uppercase; */
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn .3s linear backwards .4s;
}

.home .slide .content .btn {
    animation: fadeIn .4s linear backwards .6s;
}

.home .swiper-button-next,
.home .swiper-button-prev {
    padding: 0;
    height: 6rem;
    width: 3rem;
    opacity: 40%;
    background: var(--white);
    border-radius: 8px;
    color: var(--black);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
    opacity: 100%;
    background: var(--bg-color);
    color: var(--orange);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
    font-size: 2rem;
}

/* .home .swiper-button-prev{
   right: 7rem;
} */

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    padding: 3rem 2rem;
    border-radius: 50%;
    text-align: center;
    background: var(--bg-color);
    cursor: pointer;
}

.services .box-container .box:hover {
    background: var(--light-teal);
}

.services .box-container .box img {
    height: 7rem;
}


.services .box-container .box h3 {
    color: var(--black);
    font-size: 1.5rem;
    padding-top: 1rem;
}

.home-packages {
    background: var(--light-bg);
}


.home-packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.home-packages .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.home-packages .box-container .box .image {
    height: 25rem;
    overflow: hidden;
}

.home-packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-packages .box-container .box:hover .image img {
    transform: scale(1.1);
}

.home-packages .box-container .box .content {
    padding: 2.2rem;
    text-align: center;
}

.home-packages .box-container .box .content h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.home-packages .box-container .box .content p {
    font-size: 1.3rem;
    color: var(--light-black);
    line-height: 1.5;
    padding: 1rem 0;
}

.home-packages .load-more {
    text-align: center;
    margin-top: 2rem;
}


.home-offer {
    text-align: center;
    background-color: #e5f3f5;
}

.home-offer .content {
    max-width: 70rem;
    margin: 0 auto;
}

.home-offer .content h3 {
    font-size: 3.5rem;
    color: var(--black);
}

.home-offer .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 1.8;
    padding: 1rem 0;
}


.home-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: var(--light-bg); */
}

.home-about .image {
    flex: 1 1 41rem;
}

.home-about .image img {
    width: 100%;
}

.home-about .content {
    flex: 1 1 41rem;
    padding: 3rem;
    margin: 0.5rem;
    /* height: 47.9rem; */
    background: var(--light-bg);
}

.home-about .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.5;
    color: var(--black);
}


.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}


.about .image {
    flex: 1 1 41rem;
}


.about .image img {
    width: 100%;
}


.about .content {
    flex: 1 1 41rem;
    text-align: center;
}

.about .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.about .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 1.8;
    padding: 1rem 0;
}

.about .content .icons-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .content .icons-container .icons {
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 16rem;
}

.about .content .icons-container .icons:hover {
    background: var(--bg-color);
}

.about .content .icons-container .icons i {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--orange);
}

.about .content .icons-container .icons span {
    font-size: 1.2rem;
    color: var(--light-black);
    display: block;
}

.reviews {
    background: rgb(240, 248, 249);
}

.reviews .reviews-slider {
    padding: 1rem 0.5rem;
}

.reviews .slide {
    padding: 2rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
    user-select: none;
}

.reviews .slide .stars {
    padding-bottom: .5rem;
}

.reviews .slide .stars i {
    font-size: 1.5rem;
    color: var(--orange);
}

.reviews .slide p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 1.7;
    padding: 1rem 0;
}

.reviews .slide h3 {
    font-size: 1.8rem;
    color: var(--black);
}

.reviews .slide span {
    font-size: 1.4rem;
    color: var(--light-black);
    display: block;
}

.reviews .slide img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-top: 1rem;
}



.heading .h-pkg {
    text-shadow: 0rem 0rem 1rem rgba(1, 11, 12, 0.3) !important;
}


.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.packages .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6) {
    display: inline-block;
}

.packages .box-container .box:hover .image img {
    transform: scale(1.1);
}

.packages .box-container .box .image {
    height: 25rem;
    overflow: hidden;
}

.packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.packages .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.packages .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.packages .box-container .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 1.6;
    padding: 1rem 0;
}

.packages .load-more {
    text-align: center;
    margin-top: 2rem;
}

.booking{
    background-color: var(--light-bg);
}

.booking .book-form {
    padding: 2rem;
    background: rgb(240, 248, 249);
    border-radius: 6px;
}

.booking .book-form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.booking .book-form .flex .inputBox {
    flex: 1 1 41rem;
}

.booking .book-form .flex .inputBox input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.3rem;
    color: var(--light-black);
    text-transform: capitalize;
    margin-top: 1.5rem;
    border: var(--border);
    border-radius: 6px;
}

.booking .book-form .flex .inputBox input:focus {
    background: rgb(252, 230, 213);
    color: var(--black);
}

.booking .book-form .flex .inputBox input:focus::placeholder {
    color: var(--light-black);
}

.booking .book-form .flex .inputBox span {
    font-size: 1.5rem;
    color: var(--light-black);
}

.booking .book-form .btn {
    margin-top: 2rem;
}




.footer {
    /* background: url(../images/footer-bg.jpg) no-repeat; */
    background-color: rgb(48, 70, 73);
    background-size: cover;
    background-position: center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;
}

.footer .box-container .box h3 {
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i {
    color: var(--bg-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 1.5rem;
    color: var(--white);
}

.footer .credit span {
    color: var(--bg-color);
}


















@media (max-width:1200px) {

    section {
        padding: 3rem 5%;
    }

}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .home .slide .content h3 {
        font-size: 10vw;
    }

}

@media (max-width:768px) {

    .heading h1 {
        font-size: 4rem;
    }

    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--headcol);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        text-align: center;
    }

    .booking .book-form .flex{
        gap: 1.5rem;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading-title {
        font-size: 3.2rem;
    }

}


/* .btn{
    padding: 4px 14px;
    border: 2px solid white;
    background-color: rgb(247, 180, 11);
    color: var(--white);
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
} */